<script src="javascripts/jquery.tablesorter.min.js"></script>
<script >
  $(function() {
    $(".zebra-striped").tablesorter({ sortList: [[4,1]] });
  });
</script>

<div id="appContainer">
<div class="container">
<div class="row">
	<div class="span16">
		<div>

			<div style="display:block;width:100;text-align:right;">
				<a href="<%= builder_path %>" target="_self" class="btn primary">New Survey</a>
			</div>

			<div style="display:block;padding:0 0 20px 0;">
				<h3>My  Surveys</h3>
			</div>

			<table class="zebra-striped">
			<thead>
			 <tr>
			 	<th class="header">Actions</th>
			    <th class="header">Name</th>
			    <th class="header">Status</th>
			    <th class="header">Description</th>
			    <th class="header">Created by</th>
			 </tr>
			 </thead>
			<% @resp["records"].each do |record| %>
				<tr style="background:#ffffff" onMouseOver="this.style.background='#eeeeee';" onMouseOut="this.style.background='#ffffff';">
					<td style="width:18%;">
						<div class="surveyactions">
							<%= link_to 'Edit', builder_path(:surveyid => record['Id']), :class => '' %>
							<% if(record['Preview_URL__c'] != nil) %> | <a href="<%= record['Preview_URL__c'] %>" class="" target="_blank">Preview</a> <% end %>
							| <%= link_to 'Publish', reports_builder_path(:surveyid => record['Id']), :class => '' %>
						</div>
					</td>
					<td style="width:34%;"><a href="<%= @serviceauth.instance_url %>/<%=record['Id']%>" target="_blank" style="font-weight:bold;text-decoration:underline;"><%= record["Name"] %></a></td>
					<td style="width:12%;"><%= record['Status__c'] %></td>
					<td style="width:20%;"><%= record['Description__c'] %></td>
					<td style="width:16%;"><%= record['CreatedDate'].to_date.strftime('%m/%d/%Y')  %>   <%= link_to image_tag(record['CreatedBy']['SmallPhotoUrl']+"?oauth_token="+@serviceauth.token , :alt => record['CreatedBy']['Name'], "class" => "glossy", :height => '32', :width => '32'), @serviceauth.instance_url+'/'+record['CreatedById'], :target => '_blank' %></td>
				</tr>
			<% end %>
			</table>

			<div style="display:block;padding:20px 0;">
				<h3>My Published Surveys</h3>
			</div>
			
			<% if(@respPublished["records"].size > 0) %>
				<table class="zebra-striped">
				<thead>
				 <tr>
				 	<th class="header">Actions</th>
				    <th class="header">Name</th>
				    <th class="header">Status</th>
				    <th class="header">Description</th>
				    <th class="header">Created by</th>
				 </tr>
				 </thead>
				<% @respPublished["records"].each do |record| %>
					<tr style="background:#ffffff" onMouseOver="this.style.background='#eeeeee';" onMouseOut="this.style.background='#ffffff';">
						<td style="width:15%;">
							<div class="surveyactions">
								<% if(record['Response_Object_Prefix__c'] != nil) %> <a href="<%= @serviceauth.instance_url %>/<%= record['Response_Object_Prefix__c'] %>" class="" target="_blank">View Responses</a><% end %>
							</div>
						</td>
						<td style="width:37%;"><a href="<%= @serviceauth.instance_url %>/<%=record['Id']%>" target="_blank" style="font-weight:bold;text-decoration:underline;"><%= record["Name"] %></a></td>
						<td style="width:16%;"><%= record['Status__c'] %></td>
						<td style="width:16%;"><%= record['Description__c'] %></td>
						<td style="width:16%;"><%= record['CreatedDate'].to_date.strftime('%m/%d/%Y')  %>   <%= link_to image_tag(record['CreatedBy']['SmallPhotoUrl']+"?oauth_token="+@serviceauth.token , :alt => record['CreatedBy']['Name'], "class" => "glossy", :height => '32', :width => '32'), @serviceauth.instance_url+'/'+record['CreatedById'], :target => '_blank' %></td>
					</tr>
				<% end %>
				</table>
			<% else %>
				<div style="display:block;padding:20px 0;text-align:center;width:100%;">
					<h4>You don't have any published surveys</h4>
				</div>		
			<% end %>

			<div style="display:block;padding:20px 0;">
				<h3>Surveys shared with me</h3>
			</div>

			<% if(@respShared["records"].size > 0) %>
				<table class="zebra-striped">
				<thead>
				 <tr>
				 	<th class="header">Actions</th>
				    <th class="header">Name</th>
				    <th class="header">Status</th>
				    <th class="header">Description</th>
				    <th class="header">Created by</th>
				 </tr>
				 </thead>
				<% @respShared["records"].each do |record| %>
					<tr style="background:#ffffff" onMouseOver="this.style.background='#eeeeee';" onMouseOut="this.style.background='#ffffff';">
						<td style="width:15%;">
							<div class="surveyactions">
								<%= link_to 'Edit', builder_path(:surveyid => record['Id']), :class => '' %>
								<% if(record['Preview_URL__c'] != nil) %> | <a href="<%= record['Preview_URL__c'] %>" class="" target="_blank">Preview</a>
								<% end %>
							</div>
						</td>
						<td style="width:37%;"><a href="<%= @serviceauth.instance_url %>/<%=record['Id']%>" target="_blank" style="font-weight:bold;text-decoration:underline;"><%= record["Name"] %></a></td>
						<td style="width:16%;"><%= record['Status__c'] %></td>
						<td style="width:16%;"><%= record['Description__c'] %></td>
						<td style="width:16%;"><%= record['CreatedDate'].to_date.strftime('%m/%d/%Y')  %>   <%= link_to image_tag(record['CreatedBy']['SmallPhotoUrl']+"?oauth_token="+@serviceauth.token , :alt => record['CreatedBy']['Name'], "class" => "glossy", :height => '32', :width => '32'), @serviceauth.instance_url+'/'+record['CreatedById'], :target => '_blank' %></td>
					</tr>
				<% end %>
				</table>
			<% else %>
				<div style="display:block;padding:20px 0;text-align:center;width:100%;">
					<h4>No surveys are being shared with you</h4>
				</div>		
			<% end %>

		</div>
	</div>
</div>

<%= render 'layouts/footer' %>
</div>



</div>