<div id="appContainer">
<div class="container">
	<div class="row">
		<div class="span16">
			<style>
				
				.publishSectionContainer{
				
				}

				.publishSectionTitle{
					
					padding:5px;
					background-color:#eee;
					font-weight:bold;
					border-radius:5px;
				}

				.publishContent{
					
					padding:10px;
				}

				.publishTitle{
					
					font-weight:bold;
				}

			</style>

			<table style="width:100%;margin:0;padding:0;">
				<tr>
					<td style="width:80%;"><h3>Publish Survey : Summary</h3></td>
					<td style="width:20%;text-align:right;vertical-align:top;">
						<table>
							<tr>
								<td>
									<a href="<%= surveys_path %>" target="_self" class="btn danger">Cancel</a>
								</td>
								<td>
									<%= link_to(reports_status_path(:surveyid => params[:surveyid]), :method => :post, :class => 'btn success', :confirm => "Are you sure?")  do %>
										Publish
									<% end %>
								</td>

							</tr>
						</table>
					</td>
				</tr>
			</table>

			<div class="publishSectionContainer">
				<div class="publishSectionTitle"> Survey Info : </div>
				<div class="publishContent">
					<div><span class="publishTitle">Title : </span><%= @survey["records"][0]["Name"] %></div>
					<div><span class="publishTitle">Description : </span><%= @survey["records"][0]["Description__c"] %></div>
					<div><span class="publishTitle">Version : </span><%= @survey["records"][0]["Active_Version__c"] %></div>
				</div>
			</div>

			<div class="publishSectionContainer">
				<div class="publishSectionTitle"> Questions: </div>

				<div class="publishContent">

					<% @questionlines["records"].each do |record| %>
						<tr style="background-color:#eee;">
							<td><%= record['Name'] %></td>
							<td><%= record['sort_order__c']%></td>
						</tr>
						<tr>
							<td colspan="2">
								<table>
									 <tr>
									    <th>Order</th>							 
									 	<th>Question</th>
									    <th>Type</th>
									    <th>Display Format</th>
									    <th>Required</th>
									 </tr>
									<% record["Questions__r"]["records"].each do |question| %>
										<tr style="background-color:#fff;">
											<td><%= question['Sort_Order__c'].to_i %></td>
											<td><%= question['Question_Description__c'] %></td>
											<td><%= question['Type__c'] %></td>
											<td><%= question['Display_Format__c'] %></td>
											<td><%= question['Required__c'] %></td>
										</tr>
									<% end %>
								</table>
					
							</td>
						</tr>
					<% end %>
					</table>

				</div>
			</div>

			</table>
		</div>
	</div>
</div>
</div>