<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="shortcut icon" href="/favicon.ico" />
    <%= csrf_meta_tag %>
    <%= render 'layouts/stylesheets' %>
   <%= javascript_include_tag :defaults %>
   </head>

  <body style="padding-top: 40px;">

    <%= render 'layouts/header' %>

    <div id="appContainer">
      
      <div class="container">
        <div class="row">

          <div class="span16">
              
            <%= yield %>
              
          </body>

          </div>

        </div>
      </div>

      <%= render 'layouts/footer' %>

    </div>



</html>