<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="shortcut icon" href="/favicon.ico" />
    <%= csrf_meta_tag %>
    <%= render 'layouts/stylesheets' %>
   <%= javascript_include_tag :defaults %>
   </head>

  <body style="padding-top: 40px;">

    <%= render 'layouts/header' %>
    
    <%= yield %>
      
  </body>

</html>